<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>버스 좌석 정보 조회</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>버스 좌석 정보 조회</h1>
<form action="/busInfo" method="post">
    <label for="routeName">노선 이름:</label>
    <input type="text" id="routeName" name="routeName" required>
    <br><br>
    <label for="stationName">정류장 이름:</label>
    <input type="text" id="stationName" name="stationName" required>
    <br><br>
    <button type="submit">조회</button>
</form>

<div th:if="${busRouteLocations != null}">
    <h2>버스 좌석 정보</h2>
    <table>
        <thead>
        <tr>
            <th>시간</th>
            <th>남은 좌석 수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="location : ${busRouteLocations}">
            <td th:text="${#dates.format(location.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${location.remainSeatCount} + '명'"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${error != null}">
    <p th:text="${error}"></p>
</div>
</body>
</html>
